# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/

# Environment variables
.env

# Alembic
alembic/versions/*.pyc

# Node / React
node_modules/
dist/
build/
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
